<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Assessment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2; /* Gray background color */
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }
        form {
            max-width: 800px;
            margin: 20px auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .question {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="radio"] {
            margin-right: 10px;
        }
        input[type="submit"] {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 20px auto 0;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Audit Assessment</h1>
    <!-- {% if result %}
    <h1>AUDIT Result: {{ result }}</h1>
    {% if result == 'Low Risk' %}
      <script>
        // Redirect to 'booksA' page after a short delay
        setTimeout(function() {
          window.location.href = "{% url 'booksA' %}";
        }, 50000);  
      </script>
    {% endif %}
  {% endif %} -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="question">
            <label for="q1">1. How often do you have a drink containing alcohol?</label>
            <input type="radio" id="q1_1" name="q1" value=0>
            <label for="q1_1">Never</label>
            <input type="radio" id="q1_1" name="q1" value=1>
            <label for="q1_1">Monthly or less</label>
            <input type="radio" id="q1_1" name="q1" value=2>
            <label for="q1_1">2-4 times a month</label>
            <input type="radio" id="q1_1" name="q1" value=3>
            <label for="q1_1">2-3 times a week</label>
            <input type="radio" id="q1_1" name="q1" value=4>
            <label for="q1_1">4 or more times a week</label>
            
        </div>

        <!-- Question 2 -->
        <div class="question">
            <label for="q2">2. How many standard drinks do you have on a typical drinking day?</label>
            <input type="radio" id="q2_1" name="q2" value=0>
            <label for="q2_1">1 or 2</label>
            <input type="radio" id="q2_1" name="q2" value=1>
            <label for="q2_1">3 or 4</label>
            <input type="radio" id="q2_1" name="q2" value=2>
            <label for="q2_1">5 or 6</label>
            <input type="radio" id="q2_1" name="q2" value=3>
            <label for="q2_1">7 to 9</label>
            <input type="radio" id="q2_1" name="q2" value=4>
            <label for="q2_1">10 or more</label>
            
        </div>
        <div class="question">
            <label for="q3">3. How often do you have six or more drinks on one occasion?</label>
            <input type="radio" id="q2_1" name="q3" value=0>
            <label for="q2_1">Never</label>
            <input type="radio" id="q2_1" name="q3" value=1>
            <label for="q2_1">Less than monthly</label>
            <input type="radio" id="q2_1" name="q3" value=2>
            <label for="q2_1">Monthly</label>
            <input type="radio" id="q2_1" name="q3" value=3>
            <label for="q2_1">Weekly</label>
            <input type="radio" id="q2_1" name="q3" value=4>
            <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q4">4. During the past year, how often have you found that you were not able to stop drinking once you had started?</label>
            <input type="radio" id="q2_1" name="q4" value=0>
            <label for="q2_1">Never</label>
            <input type="radio" id="q2_1" name="q4" value=1>
            <label for="q2_1">Less than monthly</label>
            <input type="radio" id="q2_1" name="q4" value=2>
            <label for="q2_1">Monthly</label>
            <input type="radio" id="q2_1" name="q4" value=3>
            <label for="q2_1">Weekly</label>
            <input type="radio" id="q2_1" name="q4" value=4>
            <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q5">5. During the past year, how often have you failed to do what was
                 normally expected of you because of drinking?</label>
                 <input type="radio" id="q2_1" name="q5" value=0>
                 <label for="q2_1">Never</label>
                 <input type="radio" id="q2_1" name="q5" value=1>
                 <label for="q2_1">Less than monthly</label>
                 <input type="radio" id="q2_1" name="q5" value=2>
                 <label for="q2_1">Monthly</label>
                 <input type="radio" id="q2_1" name="q5" value=3>
                 <label for="q2_1">Weekly</label>
                 <input type="radio" id="q2_1" name="q5" value=4>
                 <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q6">6. During the past year, how often have you needed a drink in the
                 morning to get yourself going after a heavy drinking session?</label>
                 <input type="radio" id="q2_1" name="q6" value=0>
                 <label for="q2_1">Never</label>
                 <input type="radio" id="q2_1" name="q6" value=1>
                 <label for="q2_1">Less than monthly</label>
                 <input type="radio" id="q2_1" name="q6" value=2>
                 <label for="q2_1">Monthly</label>
                 <input type="radio" id="q2_1" name="q6" value=3>
                 <label for="q2_1">Weekly</label>
                 <input type="radio" id="q2_1" name="q6" value=4>
                 <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q7">7. During the past year, how often have you had a feeling of guilt or remorse after drinking?
            </label>
            <input type="radio" id="q2_1" name="q7" value=0>
            <label for="q2_1">Never</label>
            <input type="radio" id="q2_1" name="q7" value=1>
            <label for="q2_1">Less than monthly</label>
            <input type="radio" id="q2_1" name="q7" value=2>
            <label for="q2_1">Monthly</label>
            <input type="radio" id="q2_1" name="q7" value=3>
            <label for="q2_1">Weekly</label>
            <input type="radio" id="q2_1" name="q7" value=4>
            <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q8">8. During the past year, how often have you been
                 unable to remember what happened the night before because you had been drinking?</label>
                 <input type="radio" id="q2_1" name="q8" value=0>
                 <label for="q2_1">Never</label>
                 <input type="radio" id="q2_1" name="q8" value=1>
                 <label for="q2_1">Less than monthly</label>
                 <input type="radio" id="q2_1" name="q8" value=2>
                 <label for="q2_1">Monthly</label>
                 <input type="radio" id="q2_1" name="q8" value=3>
                 <label for="q2_1">Weekly</label>
                 <input type="radio" id="q2_1" name="q8" value=4>
                 <label for="q2_1">Daily or almost daily</label>
            
        </div>
        <div class="question">
            <label for="q9">9. Have you or someone else been injured as a result of your drinking?</label>
            <input type="radio" id="q2_1" name="q9" value=0>
            <label for="q2_1">No</label>
            <input type="radio" id="q2_1" name="q9" value=2>
            <label for="q2_1">Yes, but not in the past year</label>
            <input type="radio" id="q2_1" name="q9" value=4>
            <label for="q2_1">Yes, during the past year</label>
            
        </div>
        <div class="question">
            <label for="q10">10. Has a relative or friend, doctor or other health worker 
                been concerned about your drinking or suggested you cut down?</label>
                <input type="radio" id="q2_1" name="q10" value=0>
                <label for="q2_1">No</label>
                <input type="radio" id="q2_1" name="q10" value=2>
                <label for="q2_1">Yes, but not in the past year</label>
                <input type="radio" id="q2_1" name="q10" value=4>
                <label for="q2_1">Yes, during the past year</label>
            
        </div>
        <input type="submit" value="Submit">
    </form>
   
</body>
</html>
